$primary-color: #284184;
$primary-accent-color: #00eaff;
$secondary-color: #d67607;
$secondary-accent-color: #ffad4c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 80%;
  margin: auto;
}
